aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.7.7
Bottleneck==1.3.4
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cycler==0.11.0
cymem==2.0.6
datasets==2.3.2
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
django-cors-headers==3.13.0
djangorestframework==3.13.1
entrypoints==0.4
executing==0.8.3
fastai==2.6.3
fastapi==0.78.0
fastbook==0.0.26
fastcore==1.4.4
fastdownload==0.0.6
fastprogress==1.0.2
filelock==3.7.1
fonttools==4.31.2
frozenlist==1.3.0
fsspec==2022.5.0
graphviz==0.20
h11==0.13.0
huggingface-hub==0.7.0
idna==3.3
ipykernel==6.9.2
ipython
ipython-genutils
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.9.2
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.0
langcodes==3.3.0
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==6.0.2
multiprocess==0.70.13
murmurhash==1.0.7
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
notebook==6.4.10
numexpr==2.8.1
numpy
nvidia-ml-py3==7.352.0
packaging==21.3
pandas
pandocfilters
parso
pathy
pexpect
pickleshare
Pillow
preshed
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
Pygments
pyparsing
pyrsistent
python-dateutil
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
responses
scikit-learn
scipy
Send2Trash
sentencepiece
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
starlette
terminado
testpath
thinc
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
urllib3
uvicorn
wasabi
wcwidth
webencodings
widgetsnbextension
xxhash
yarl
